extends ../base.pug
include ../mixins/video

block content
    div#videoContainer
        video(src=`/${video.fileUrl}`,data-id=video.id)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value = 0, min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                span#mute
                    i.fas.fa-volume-up
                input(type="range",step="0.1", value = 0.5, min="0", max="1")#volume
            div 
                span#fullScreenBtn
                    i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        div
            p=video.description
            ul
                each hashtag in video.hashtags
                    li=hashtag
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit video 👉
            br
            a(href=`${video.id}/delete`) Delete Video 👉
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment")
                button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment
                    span  #{comment.text}

block scripts
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")