extends ../base.pug
include ../mixins/video

block content
    video(src=`/${video.fileUrl}`, controls, style="width: 960px; height: 540px;")
    div 
        button#play Play
        button#mute Mute
        span#time 00:00/00:00
        input(type="range",step="0.2", min="0", max="1")#volume
    //-
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        div
            p=video.description
            ul
                each hashtag in video.hashtags
                    li=hashtag
            small=video.createdAt
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit video 👉
            br
            a(href=`${video.id}/delete`) Delete Video 👉

block scripts
    script(src="/assets/js/videoPlayer.js")