mixin video(video)
    h4
        a(href="videos/" + video.id)=video.title
        //attribute서는 #{}사용 불가
        p=video.description
        ul
            each hashtag in video.hashtags
                li=hashtag
        small=video.createdAt
        hr 